target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/*.html
build/
.keystore
.google_market_key

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
nbproject/private/
/nbbuild/
nbbuild/
/dist/
dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs & Ops ###
*.log
.env
